<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="synapsetest.setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="synapsetest.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="synapsetest.setting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <synapsetest.setting>
            <setting name="path" serializeAs="String">
                <value/>
            </setting>
            <setting name="firsttime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
        </synapsetest.setting>
        <synapsetest.Settings1>
            <setting name="path" serializeAs="String">
                <value/>
            </setting>
            <setting name="firsttime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
        </synapsetest.Settings1>
        <synapsetest.setting>
            <setting name="path" serializeAs="String">
                <value/>
            </setting>
            <setting name="firsttime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check" serializeAs="String">
                <value>False</value>
            </setting>
        </synapsetest.setting>
    </userSettings>
</configuration>
